.banner-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
} 
.intro {
    font-family: 'Lobster Two';
}
.propic{
    height: 713px;
    width: 713px;
}


@media screen and (max-width: 680px) {
    .banner-page{
        flex-direction: column;
    }
    .propic{
        height: 300px;
        width: 300px; 
    }
  }